$primary-color: #DA3F5B;
$secondary-color: #1E34A5;

$primary-text-color: #636363;
$placeholder-text-color: #A7A7A7;

$alert-color: #F15557;
$input-background-color: #F9F9F9;

$transition-duration: 300ms;

$border-radius: 8px;

$outline-color: #007bff;